# PostgreSQL
DATABASE_USERNAME=teste
DATABASE_PASSWORD=sua_senha_aqui
DATABASE_HOST=localhost

# Redis
REDIS_URL=redis://localhost:6379/0

# Rails
RAILS_ENV=development
SECRET_KEY_BASE= gere_com_rails_secret
